.search__form {
  display: flex;
  position: relative;
  top: 60vh;
  align-items: center;
  width: 40vw;
  overflow: hidden;

  .search__form__input {
    all: unset;
    padding: 20px 15px;
    border-radius: 5px;
    border: 2px solid rgba($color: $purple, $alpha: 1);
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    margin-bottom: 5px;
    font-size: 25px;
    color: black;
    width: 100%;
    height: 2vh;

    &::placeholder {
      color: black;
    }
  }

  .search__form__btn {
    all: unset;
    position: relative;
    font-size: 25px;
    right: 35px;
    background-color: rgba($color: white, $alpha: 0);
    color: $purple;
    cursor: pointer;
  }
}
