form {
  margin: 0 auto;
  &:not(.search__form, .video__comment-form) {
    max-width: 420px;
    padding: 30px;
    background-color: rgba($color: white, $alpha: 1);
    border-radius: 10px;
    border: 1px solid rgba($color: #fff, $alpha: 0.1);
  }
}

input:not(input[type="range"])[type="text"],
input:not(input[type="range"])[type="password"],
input:not(input[type="range"])[type="email"],
input:not(input[type="range"])[type="file"] {
  all: unset;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: rgba($color: white, $alpha: 1);
  margin-bottom: 5px;
  font-size: 16px;
  color: black;
  box-shadow: 5px 5px 10px rgba($color: black, $alpha: 0.5);
  width: 90%;
  &::placeholder {
    color: rgba(0, 0, 0, 0.7);
  }
}

input[type="submit"] {
  all: unset;
  margin-top: 30px;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: rgba($color: $purple, $alpha: 1);
  color: white;
  width: 50%;
  cursor: pointer;
}

.social__btn {
  border-radius: 5px;
  padding: 12px 20px;
  background-color: white !important;
  color: rgba($color: $purple, $alpha: 1) !important;
  font-weight: 600;
  text-align: center !important;
  cursor: pointer;
  display: block;
  border: none;
  &:focus {
    outline: none;
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.upload__container,
.login-form__container,
.join-form__container,
.edit-video__container,
.edit-profile__form__container {
  margin-top: 8vh;
  .form {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      color: $purple;
      align-self: flex-start;
      font-weight: 700;
      margin: 10px 0px;
    }

    .form__submit {
      text-align: center;
    }
  }
}
