extends base2.pug

block content 
    div.edit-video__container
        form(method="POST").form
            input(name="title" placeholder="New Title", value=video.title, type="text" required, maxlength=80)
            input(name="description" placeholder="Description", required, type="text", minlength=20, value=video.description)
            input(name="hashtags" placeholder="Hashtags, separated by comma.", required, type="text", value=video.hashtags.join())
            input(type="submit", value="Save").form__submit